<dx-form #myForm [formData]="formData" [showValidationSummary]="true" (onValueChanged)="onFormValueChanged($event)">
  
  <dxi-item dataField="name" [validationRules]="[{ type: 'required', message: 'Name is required' }]">
    <dxo-label text="Name"></dxo-label>
  </dxi-item>

  <dxi-item dataField="FirtsName" [validationRules]="[{ type: 'required', message: 'FirtsName is required' }]">
    <dxo-label text="FirtsName"></dxo-label>
  </dxi-item>

  <dxi-item
  dataField="customTextbox"
  [validationRules]="[{ type: 'required', message: 'Custom Textbox is required' }]">
  <div *dxTemplate="let data of 'content'">
  <app-custom-textbox
  [inputId]="'customTextbox'"
  [(ngModel)]="formData.customTextbox"
  (ngModelChange)="onCustomTextboxChange($event)">
</app-custom-textbox>
    <dx-validator
      [validationRules]="[{ type: 'required', message: 'Custom Textbox is required' }]">
    </dx-validator>
  </div>
  <dxo-label text="Custom Textbox" [attr.for]="'customTextbox'"></dxo-label>
</dxi-item>


  <dxi-item>
    <dx-button text="Submit" type="success" (onClick)="submitForm()"></dx-button>
  </dxi-item>
</dx-form>